@using ZenithWebSite.Controllers;
@model List<HomeController.DayInfo>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zenith Society</h1>
    <hr />
    <p>The Zenith Society is a family oriented non-for-profit organization that holds events during the week.</p>
    Check out events - <i>sponsored by Medhat Elmasry</i> - for the current week!
</div>

<h4>
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
    &nbsp;
    Schedule for Active Events
</h4>

<table class="table">
    <!-- loop through Days and Events passed as WeeklyInfo from HomeController -->
    @foreach (var day in Model)
    {
        <tr>
            <th colspan="2" class="text-center label-success">
                @day.Day.ToLongDateString()
            </th>
        </tr>
        <tr class="text-center label-default">
            <th>Start Time - End Time</th>
            <th>Activity Description</th>
        </tr>
        foreach (var ev in day.Events)
        {
            // format this
            DateTime startTimeActual = DateTime.Parse(ev.StartDate.ToString());
            DateTime endTimeActual = DateTime.Parse(ev.EndDate.ToString());

            string startTimeFormatted = startTimeActual.ToString("hh:mm:tt");
            string endTimeFormatted = endTimeActual.ToString("hh:mm:tt");
            string description = ev.ActivityDescription;
            <tr>
                <td>@startTimeFormatted - @endTimeFormatted</td>
                <td>@description</td>
            </tr>
        }
    }
</table>
